@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Lato;
}

footer {
  margin-top: auto;
}
