body {
    background-color: black	
}

.neopolitan-dreams {
    font-family: "Caveat", cursive;
    font-optical-sizing: auto;
    font-style: normal;
    color: white;
    font-size: xx-large;
}

/*.content {
    padding: 5px;
    margin-right: 400px;
    margin-top: 250px;
}*/

.zankyou-no-terror {
    margin-top: 100px;
    margin-bottom: 20px;
}
a, a:visited {
    text-decoration: none;
    color: white;
}