* {
  margin: 0;
  padding: 0;
}

body, html {
  height: 100%;
}

.bg {
  /* The image used */
  background-image: url("https://giffiles.alphacoders.com/168/168273.gif");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}